{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.0/css/all.css">
    <link rel="stylesheet" href="{% static 'user/css/auth.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">


</head>
<body class="text-center">

<div>
    <a href="{% url 'main' %}"><img src="{% static 'main/img/icon.svg' %}" class="bi me-2" width="80" height="64" role="img" alt=""></a>
    <span class="logo">WebDoor</span>

  <!-- Pills navs -->
  <ul class="nav nav-pills nav-justified mb-3" id="ex1">
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="tab-login" data-mdb-toggle="pill" href="{% url 'login' %}"
      aria-controls="pills-login" aria-selected="false">Login</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="tab-register" data-mdb-toggle="pill" href="{% url 'sign-up' %}"
      aria-controls="pills-register" aria-selected="true">Register</a>
  </li>
</ul>
  <!-- Pills navs -->
  <div class="tab-pane fade show active" id="pills-register">
    <form action="" method="post">
      {% csrf_token %}
      <div class="text-center mb-3">
        <p>Sign up with:</p>
        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-facebook-f"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-google"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-twitter"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-github"></i>
        </button>
      </div>

      <p class="text-center">or:</p>

      <div class="form-outline mb-4">
        <input placeholder="Username" value="{{ username }}" type="text" id="username" name="username" class="form-control" />
        {% if user_exist %}
          <p style="color: red;">{{ user_exist }}</p>
        {% endif %}
      </div>

      <!-- Email input -->
      <div class="form-outline mb-4">
        <input placeholder="Email" value="{{ email }}" type="email" id="registerEmail" name="registerEmail" class="form-control" />
        {% if true_email %}
          <p style="color: red;">{{ true_email }}</p>
        {% endif %}
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input placeholder="Password" value="{{ password }}" type="password" id="registerPassword" name="registerPassword" class="form-control" />
        {% if password_strong %}
          <p style="color: red;">{{ password_strong }}</p>
        {% endif %}
      </div>

      <!-- Repeat Password input -->
      <div class="form-outline mb-4">
        <input placeholder="Repeat password" value="{{ password2 }}" type="password" id="registerRepeatPassword" name="registerRepeatPassword" class="form-control" />
        {% if password_coincidence %}
          <p style="color: red;">{{ password_coincidence }}</p>
        {% endif %}
      </div>

      <!-- Checkbox -->
      <div class="form-check d-flex justify-content-center mb-4">
        <input class="form-check-input me-2" type="checkbox" value="" id="registerCheck" name="registerCheck" {{ terms }}
          aria-describedby="registerCheckHelpText" />
        <label class="form-check-label" for="registerCheck">
          I have read and agree to the terms
        </label>
        {% if terms_of_use %}
          <p style="color: red;">{{ terms_of_use }}</p>
        {% endif %}
      </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-3">Sign in</button>
      <!-- Register buttons -->
      <div class="text-center">
        <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
      </div>
    </form>
  </div>
</div>
</body>
</html>